.accordion {
    margin: 4.5em auto;
    display: flex;
    flex-direction: column;
    max-width: 60%;
    box-shadow: 0 0.001em 0.61em -0.125em;
    font-family: 'Dosis', sans-serif;
    border-radius: 0.4em;
    overflow: hidden;
}
.accordion__title{
    background-color: #ff6347;
    display: flex;
    justify-content: space-between;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 0.7em;
}
.accordion__item:nth-of-type(even) .accordion__title{
    background-color: white;
    color:  #ff6347;
}
.accordion__item:nth-of-type(even) .accordion__title:hover{
    background-color: white;
    color: #a03e2c;
}
.accordion__title:hover {
    background-color: #a03e2c;
}
.accordion__header{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.8em;
}
.accordion__icon{
    margin-right: 0.8em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
.accordion__icon:hover {
    transition: transform 0.5s;
    transform: rotate(-90deg);
}
.accordion__content {
    background-color: white;
    margin-top: 0;
    padding: 0.7em;
    display: none;
    box-sizing: border-box;
    border-radius: 1em;
}
.accordion__text{
    margin-top: 0;
    margin-bottom: 0;
}
.is-active .accordion__content {
  display: block;
}
.is-active .accordion__icon {
  transform: rotate(-90deg);
}